.cover {
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  @apply pt-12 pb-24;
}

.eggshape {
  @apply absolute;
  left: -300px;
  top: 150px;
}

.eggshapemint {
  @apply absolute;
  left: -30%;
  bottom: 150px;
}

@media (max-width: 768px) {
  .eggshapemint {
    @apply hidden;
  }
}

.eggshapemint path {
  fill: #afdbcb !important;
}

.umbrella {
  @apply absolute;
  right: 5%;
  bottom: -180px;
}

@media (max-width: 768px) {
  .umbrella {
    @apply hidden;
  }
}
