.cover {
  background-image: url(https://cdn.shopify.com/s/files/1/2701/0262/t/105/assets/HomeHero-B.jpg);
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #fdf3e8;
  @apply pt-12 pb-24 relative;
}

.triangle {
  @apply absolute right-0;
  top: -312px;
  z-index: 1;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}